@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 2% 6%; /* #101010 */
    --foreground: 120 100% 50%; /* #00FF00 */
    --card: 120 2% 6%;
    --card-foreground: 120 100% 50%;
    --popover: 120 2% 6%;
    --popover-foreground: 120 100% 50%;
    --primary: 120 100% 50%;
    --primary-foreground: 120 2% 6%;
    --secondary: 120 2% 10%;
    --secondary-foreground: 120 100% 50%;
    --muted: 120 2% 10%;
    --muted-foreground: 120 100% 80%;
    --accent: 60 100% 50%; /* #FFFF00 */
    --accent-foreground: 120 2% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 100% 50%;
    --input: 120 2% 10%;
    --ring: 120 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 2% 6%; /* #101010 */
    --foreground: 120 100% 50%; /* #00FF00 */
    --card: 120 2% 6%;
    --card-foreground: 120 100% 50%;
    --popover: 120 2% 6%;
    --popover-foreground: 120 100% 50%;
    --primary: 120 100% 50%;
    --primary-foreground: 120 2% 6%;
    --secondary: 120 2% 10%;
    --secondary-foreground: 120 100% 50%;
    --muted: 120 2% 10%;
    --muted-foreground: 120 100% 80%;
    --accent: 60 100% 50%; /* #FFFF00 */
    --accent-foreground: 120 2% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 100% 50%;
    --input: 120 2% 10%;
    --ring: 120 100% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}
